@page "/"

@using Moneypenny.Data
@inject GetEmployees getJSONtoArray

<PageTitle>Index</PageTitle>

<h1>Home</h1>
<br />
<a type="button" class="btn btn-secondary btn-lg badge-developer" href="developers">Developers</a>
<a type="button" class="btn btn-secondary btn-lg badge-tester" href="testers">Testers</a>
<a type="button" class="btn btn-secondary btn-lg badge-product-owner" href="product_owners">Product Owners</a>
